/*Estilo da pagina home*/

body {
    background-color: #bebdbd;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.texto {
    text-align: center;
    padding: 30px;
}

.p-30 {
    padding: 30px;
}

.ta-center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.titulo {
    text-align: center;
}

.header a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: center;
    color: rgb(231, 181, 86);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 20px;
}

.header {
    background-color:#222225;
    grid-area: auto;
    overflow: hidden;
    padding: 20px 10px;
}

.tm-social {
    width: 50px;
    height: 50px;
    margin: 20px;
    text-decoration: none;
}

.header a:hover {
    background-color: rgb(231, 181, 86);
    color: rgb(37, 30, 30);
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 300px;
    height: 300px;
}

.wh-300 {
    width: 400px;
    height: 400px;
}

.br-10 {
    border-radius: 4px;
}

.est-social {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(37, 30, 30);
}

.est-social *:hover {
    background-color: rgb(37, 30, 30);
    color: wheat;
}

.td-none {
    text-decoration: none;
}

.mb-50 {
    margin-bottom: 50px;
}

.justify {
    text-align: justify;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    background-color: rgb(37, 30, 30);
}

.header a.active {
    background-color: rgb(168, 15, 5);
    color: white;
}

.mr-50 {
    margin-right: 50px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    /* pagina de contato */
    .ml-50 {
        margin-left: 50px;
    }
    .c-red {
        color: rgb(37, 30, 30);
    }
}